*,
*:hover {
  cursor: none;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  margin-top: 20px;
}

h3 {
  margin-top: 40px;
}

p {
  margin-bottom: 0;
}

#icon {
  height: 55px;
  width: 55px;
  margin-right: 8px;
  border-radius: 14px;
  transform: translate(var(--translateX), var(--translateY)) scale(var(--scale));
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-property: opacity, transform;
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.2);

  --scale: 1;

  &:active {
    transform: translate(var(--translateX), var(--translateY)) scale(1);
  }
}

button {
  border: none;
  background-color: transparent;
  color: #007aff;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 0.8em;
  position: relative;
  text-decoration: none;
  transform: translate(var(--translateX), var(--translateY)) scale(var(--scale));
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-property: opacity, transform;
  z-index: 1;
  font-family: 'Roboto', sans-serif;

  --scale: 1;
  --translateX: 0;
  --translateY: 0;

  & * {
    pointer-events: none;
  }

  &:not(:hover) {
    transition-property: transform, opacity;
  }

  &:active {
    opacity: 0.5;
    transform: translate(var(--translateX), var(--translateY)) scale(1);
  }
}

.cursor-js {
  height: var(--height);
  left: var(--left);
  pointer-events: none;
  top: var(--top);
  transform: translate(-50%, -50%) scale(var(--scale));
  transition-property: width, height;
  width: var(--width);

  --top: -1em;
  --left: -1em;
  --width: 1em;
  --height: 1em;
  --scale: 1;
  --translateX: 0;
  --translateY: 0;

  &.is-locked {
    transition-property: width, height, left, top, opacity;

    .cursor-js__content {
      opacity: 0.06;
    }
  }

  &.locked-mode__icon {
    transition-property: height;
    transition-duration: 0.1s;
    box-shadow: 0px 0px 30px 12px #ffffff;
    width: 0;
    height: 0;
    .cursor-js__content {
      opacity: 0;
      transition-duration: 0.1s;
      background-color: transparent;
    }
  }

  &,
  &__content {
    position: absolute;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  &__content {
    background-color: #000;
    border-radius: 0.6em;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    right: 0;
    top: 0;
    transform: translate(var(--translateX), var(--translateY));
    transition-property: 'opacity';
  }
}
